* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee;
}

#timer {
  font-size: 2em;
}

#quiz {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none;
}